/* ALL */
section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}

/*HOME*/
article {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    border-radius: 10px;
}

.jci-article {
    background-image: url(/src/assets/img-home3.webp);
    object-fit: contain;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 400;


    .btn-primary {
        margin-top: 0;
    }

    div {
        display: flex;
        gap: 30px;
        flex-direction: column;
        max-width: var(--max-width-main);
        z-index: 3;
        align-items: center;
    }

    &:after {
        content: "";
        background-color: #e9e2e2d9;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
}

.map-article {
    flex-direction: column;

    * {
        max-width: var(--max-width-main);
    }

    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;

        li {
            background-color: var(--primary-color);
            padding: 10px;
            border-radius: 8px;
            font-weight: 500;
            font-size: 15px;
        }
    }

    .map-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.accredit-article {
    background-color: #f4f5f5;

    >div {
        max-width: var(--max-width-main);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;

        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
}

.currently-section {
    padding: 50px 0px;
    background-color: #3c3c3c;
    color: white;

    * {
        max-width: 1000px
    }

    div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;

        article {
            border-radius: 10px;
            padding: 20px;
            align-content: center;
            justify-content: center;
            text-align: center;
            position: relative;

            >div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 120px;
                height: 120px;
                background-color: #2e6569;
                z-index: 1;
                border-radius: 50%;
            }

            p {
                font-size: 20px;
                z-index: 23;
                position: relative;

                strong {
                    color: #1ec3af;
                }
            }
        }
    }
}

/*SERVICIOS*/
.servOpening-section {
    >* {
        max-width: var(--max-width-main);
    }

    article {
        display: flex;

        >* {
            flex: 1 1 0;
            min-width: 0;
        }

        img {
            max-width: 100%;
            width: 100%;
            border-radius: 10px;
        }

        ul {
            flex-direction: column;
        }
    }
}

.servForm-section {
    background-color: #f4f5f5;
    padding-bottom: 50px;

    >* {
        max-width: var(--max-width-main);
    }

    article {
        padding-bottom: 0;

        >ul {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;

            li {
                max-width: 300px;
            }
        }
    }
}

.servCod-section {
    padding-bottom: 50px;

    article {
        padding-bottom: 0;
    }
}

.offert-section {
    .top-article>* {
        max-width: 1200px;
    }

    .top-article {
        strong {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .bottom-article {
        width: 100%;
        display: flex;
        gap: 50px;
        padding-bottom: 50px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #ededec;

        >div {
            max-width: 1200px;
            gap: 50px;
            display: flex;

            h2 {
                font-size: 25px;
                font-weight: 600;
                color: var(--color-dark);
                font-family: var(--primary-font);
            }

            img {
                max-width: 100%;
                border-radius: 10px;
                width: 100%;
                max-height: 300px;
                object-fit: cover;
            }

            ul {
                padding-left: 0;

                li {
                    list-style: none;
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 10px;
                    gap: 5px;

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

.servJCI-section {
    position: relative;
    width: 100%;
    background-image: url(/src/assets/img5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    header {
        max-width: var(--max-width-main);
        z-index: 3;
        position: relative;
    }

    &:after {
        content: "";
        background-color: #e9e2e2d1;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .bg-met-swiper {
        width: 100%;
        justify-content: center;
        display: flex;
        position: relative;
        align-items: center;
        padding: 0;

        >div {
            max-width: 960px;
            width: 80%;

            position: relative;
            width: 100%;
        }

        .swiper {
            max-width: 750px;
            width: 80%;
            z-index: 10;
            min-height: 250px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: black;
        }
    }

    .swiper-slide {
        width: 850px;
        margin-right: 20px;
        background-color: #5a7388de;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        height: 250px;
    }
}

/* TEAM */
.team-section {
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before {
        content: "";
        background-image: url(/src/assets/bg-team.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 420px));
        gap: 20px;
        max-width: 1500px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        h2 {
            display: flex;
            justify-content: center;
            gap: 5px;
        }


        .flip-card {
            background-color: transparent;
            width: fit-content;
            height: fit-content;
            perspective: 1000px;
            cursor: pointer;

        }

        .flip-card-inner {
            position: relative;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            width: var(--flip-card-width);
            height: var(--flip-card-height);
            padding: 60px 30px;
            box-sizing: border-box;
        }

        .flip-card-inner.rotated {
            transform: rotateY(180deg);
        }

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: var(--flip-card-width);
            height: var(--flip-card-height);
            padding: 60px 30px;
            top: 0;
            left: 0;
            box-sizing: border-box;
        }

        .flip-card-front {
            background-color: var(--secondary-color);
            color: black;
            padding: 60px 30px;

            >figure>img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: 0px 0px 11px #989797;
            }

        }

        .flip-card-back {
            background-color: var(--primary-color);
            transform: rotateY(180deg);
            padding: 15px;

            ul {
                margin-top: 0;
                text-align: left;

                li:not(.title) {
                    margin-left: 10px;
                    list-style-type: disc;
                }

                li.title:not(:first-of-type) {
                    margin-top: 10px
                }
            }
        }
    }
}

/*QUE ES LA ACREDITACION JCI*/
.ac-jci-section {
    >* {
        max-width: 1200px;
    }

    article {
        max-width: 100%;
        width: 100%;
        background-color: var(--primary-color);

        >div {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            gap: 50px;

            >div {
                flex: 1
            }
        }
    }
}

/*CONTACT*/
.contact-section {
    background-color: #e2e2e2;

    * {
        max-width: 1200px;
    }

    >div {
        display: flex;
        justify-content: space-around;
        width: 100%;

        article {
            max-width: 400px;
            flex: 1;
            background-color: white;
            border-radius: 5px;
            padding: 30px
        }
    }
}
