---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto"
description="¿Listo para alcanzar el Sello Dorado? Contacta con Consultoría Salqualis hoy mismo para resolver tus dudas y potenciar la calidad de tu centro.">
    <section class="contact-section">
        <h1>Habla con Salqualis</h1>
        <div>
            <article class="flex-adjust">
                <div>
                    <img src="/assets/office.webp?v=1.1" alt="" aria-hidden="true" />
                </div>

                <div>
                    <h3>Sede oficial en Málaga, España</h3>
                    <p>Puedes contactarnos directamente a través de:</p>
                    <div class="contact-div">
                        <div>
                            <a href="mailto:consultoriasalqualis@gmail.com">
                                <img
                                    src="/assets/icon/email.svg"
                                    alt=""
                                    aria-hidden="true"
                                /><span>
                                    Nuestro e-mail corporativo 
                                    <strong
                                        >consultoriasalqualis@gmail.com</strong
                                    ></span
                                >
                            </a>
                            <a href="tel:+34672485403">
                                <img
                                    src="/assets/icon/phone.svg"
                                    alt=""
                                    aria-hidden="true"
                                /><span
                                    >Nuestro número de teléfono<br />
                                    <strong>+34 672 48 54 03</strong></span
                                >
                            </a>
                        </div>
                    </div>
                    <p>
                        ¿Listo para alcanzar el Sello Dorado? Hablemos hoy mismo
                        sobre su proyecto de acreditación y resolvamos todas sus
                        dudas.
                    </p>
                </div>
            </article>
        </div>
    </section>
</Layout>

<style>
    .contact-section {
        background-color: var(--primary-color);

        > * {
            max-width: 1200px;
        }

        > div {
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex-direction: column-reverse;
            gap: 20px;

            img {
                max-width: 100%;
            }

            p {
                text-align: center;
            }

            h3 {
                font-family: 'Montserrat';
                font-size: 24px;
                color: var(--color-dark);
                text-align: center;
                margin-bottom: 0;
            }

            .contact-div {
                > div {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;

                    a {
                        display: flex;
                        flex: 1 1 0;
                        gap: 10px;
                        align-items: center;
                        flex-direction: column;
                        background-color: #f3f3f3;
                        padding: 30px 10px;
                        border-radius: 10px;
                        font-size: 13px;

                        span {
                            color: black;
                            font-weight: 400;
                            text-align: center;
                        }

                        img {
                            width: 70px;
                            height: 70px;
                        }

                        &:hover {
                            background-color: #eae8e8;
                            box-shadow: 0px 0px 5px #cccccc;
                        }
                    }
                }
            }

            article {
                display: flex;
                background-color: white;
                border-radius: 5px;
                padding: 30px;
                box-sizing: border-box;
                flex-direction: column-reverse;

                > * {
                    justify-content: space-around;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    @media (min-width: 575px) {
        .contact-section > div {
            .flex-adjust {
                .contact-div{
                    > div{
                        flex-direction:row;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .contact-section > div {
            .contact-div > div {
                flex-direction: row;
            }

            .flex-adjust {
                flex-direction: column-reverse;
            }

            article {
                flex-direction: row;
            }
        }
    }

    @media (min-width: 992px) {
        .contact-section > div {
            .flex-adjust {
                flex-direction: row;
            }

            .flex-adjust div:first-child {
                    flex: 1 1 300px;
                    min-width: 0;
                > img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .flex-adjust div:nth-child(2) {
                flex: 1 1 500px;
            }
        }
    }

    @media (min-width: 1200px) {
        .contact-section > div {
            .flex-adjust {
                div:first-of-type {
                    flex: 0 0 35%;

                    > img {
                        height: 100%;
                        object-fit: cover;
                        object-position: -90px 0px;
                    }
                }
            }
        }
    }
</style>
