---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="contact-section">
        <h1>Hablemos de tu proyecto de acreditación</h1>
        <h2>Nuestra ubicación</h2>
        <div>
            <article class="malaga">
                <h3>Sede oficial en Málaga, España.</h3>
            </article>

            <article class="chile">
                <div>
                    <img
                        src="/assets/sala-reunion.webp"
                        alt="Imagen sala de reuniones"
                    />
                </div>
                <div>
                    <h3>Sede de Reuniones - Santiago de Chile:</h3>
                    <ul>
                        <li>
                            Para nuestras visitas y reuniones presenciales en
                            Chile, contamos con un espacio exclusivo en el
                            corazón del centro financiero de Las Condes.
                        </li>
                        <li>
                            The Place - Business Center en el exclusivo barrio
                            de Las Condes, cercano a Apoquindo y al centro
                            financiero de Santiago.
                        </li>
                        <li>
                            <strong>Servicios para clientes:</strong> Disponemos de
                            salas de juntas privadas, tecnología para presentaciones
                            de alto nivel y conectividad total para sesiones de trabajo
                            presenciales con los directivos de los centros.
                        </li>
                    </ul>
                </div>
            </article>
            <article class="contact-article">
            <p>
                <img src="/assets/icon/email.svg" alt="Email" />Puedes
                contactarnos directamente a través de nuestro e-mail corporativo
                &nbsp;<a href="mailto:consultoriasalqualis@gmail.com">
                    consultoriasalqualis@gmail.com</a
                >
            </p>
            <p>
                <img src="/assets/icon/phone.svg" alt="Teléfono" />O a través de
                nuestro número de teléfono: +34 672 48 54 03
            </p>
        </article>
        </div>
        
    </section>
</Layout>
