---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="contact-section">
        <h1>Habla con Salqualis</h1>
        <div>
            <article class="flex-adjust">
                <div>
                    <img src="/assets/office.webp" alt="" aria-hidden="true" />
                </div>

                <div>
                    <h3>Sede oficial en Málaga, España</h3>
                    <p>Puedes contactarnos directamente a través de:</p>
                    <div class="contact-div">
                        <div>
                            <a href="mailto:consultoriasalqualis@gmail.com">
                                <img
                                    src="/assets/icon/email.svg"
                                    alt=""
                                    aria-hidden="true"
                                /><span>
                                    Nuestro e-mail corporativo &nbsp;
                                    <strong
                                        >consultoriasalqualis@gmail.com</strong
                                    ></span
                                >
                            </a>
                            <a href="tel:+34672485403">
                                <img
                                    src="/assets/icon/phone.svg"
                                    alt=""
                                    aria-hidden="true"
                                /><span
                                    >Nuestro número de teléfono<br />
                                    <strong>+34 672 48 54 03</strong></span
                                >
                            </a>
                        </div>
                    </div>
                    <p>
                        ¿Listo para alcanzar el Sello Dorado? Hablemos hoy mismo
                        sobre su proyecto de acreditación y resolvamos todas sus
                        dudas.
                    </p>
                </div>
            </article>
        </div>
    </section>
</Layout>

<script>
    //Giro flip-cards
    document.addEventListener("click", (e) => {
        const target = e.target as HTMLElement;
        if (target.closest(".flip-card-front")) {
            target.closest(".flip-card-inner")?.classList.add("rotated");
        } else if (target.closest(".flip-card-back")) {
            target.closest(".flip-card-inner")?.classList.remove("rotated");
        }
    });
</script>
