---
import LayoutPrincipal from "../layouts/base-layout.astro";
---

<LayoutPrincipal>
    <section class="contact-section">
        <h1>Hablemos de tu proyecto de acreditación</h1>
        <h2>Nuestra ubicación</h2>
        <div>
            <article>
                <p>Sede oficial en Málaga, España.</p>
            </article>

            <article>
                <p>
                    Sede de Reuniones - Santiago de Chile:
                    <ul>
                        <li>
                            Para nuestras visitas y reuniones presenciales en
                            Chile, contamos con un espacio exclusivo en el
                            corazón del centro financiero de Las Condes.
                        </li>
                        <li>
                            The Place - Business Center en el exclusivo barrio
                            de Las Condes, cercano a Apoquindo y al centro
                            financiero de Santiago.
                        </li>
                        <li>
                            Servicios para clientes: Disponemos de salas de
                            juntas privadas, tecnología para presentaciones de
                            alto nivel y conectividad total para sesiones de
                            trabajo presenciales con los directivos de los
                            centros.
                        </li>
                    </ul>
                </p>
            </article>
        </div>

        <p>
            Puedes contactarnos directamente a través de nuestro e-mail
            corporativo <a href="mailto:consultoriasalqualis@gmail.com">
                consultoriasalqualis@gmail.com</a>
        </p>
    </section>
</LayoutPrincipal>
