---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="jci-article">
        <div class="flex-adjust">
            <div class="img-container">
                <h1>
                    Consultoría Salqualis: Expertos en Asesoría para la
                    Acreditación JCI.
                </h1>
                <!-- <img src="/assets/img-home4.webp" alt="Laboratorio" /> -->
            </div>
            <div class="text-container">
                <p>
                    Somos <strong
                        >especialistas en la implementación de estándares de
                        calidad <a href="/JCIAccreditation" target="_blank"
                            >Joint Commission International</a
                        ></strong
                    > para organizaciones de salud que buscan la excelencia operativa
                    y la seguridad del paciente.
                    <br />
                    <br />
                    Además realizamos asesoría a centros sanitarios para el desarrollo
                    de estrategias trasformadoras, dirigidas a la mejora de la calidad
                    y seguridad centrada en el paciente.
                </p>
                <p>
                    Consultoría Salqualis cuenta con más de <strong
                        >25 años de experiencia</strong
                    > brindando soporte y consultoría a centros hospitalarios, ambulatorios
                    y de atención primaria para el desarrollo de cambios estratégicos
                    enfocados a mejora de la calidad y eficiencia.
                </p>
            </div>
        </div>
    </section>
    <section class="map-article" id="centros-acred">
        <h2>
            Centros de Excelencia acreditados que avalan nuestra trayectoria
        </h2>

        <div class="flex-adjust">
            <div>
                <p>
                    Nuestra mejor carta de presentación es la confianza de los
                    numerosos hospitales y organizaciones de salud que nos
                    eligen para acompañarles hasta el éxito de su acreditación
                    inicial y en sus sucesivos procesos de reacreditación. Esta
                    sólida experiencia, <strong
                        >avalada por la fidelidad de directivos y profesionales
                        de la salud</strong
                    >, constituye nuestro mejor salvoconducto y un testimonio
                    real del compromiso continuo que mantenemos con la
                    excelencia de cada organización.
                </p>
                <p>
                    Desde 1999, <strong>42 establecimientos</strong>
                    de salud Públicos y Privados <strong
                        >han obtenido su acreditación JCI bajo nuestra guía y
                        soporte experto</strong
                    >. La mayoría de estas organizaciones han seguido contando
                    con nuestro apoyo en las sucesivas reacreditaciones
                    trienales. Hemos trabajado con algunas de las instituciones
                    sanitarias más prestigiosas a nivel nacional e
                    internacional:
                </p>
            </div>
            <div class="counter-div">
                <span id="counter-num">42</span>
                <p>
                    <strong
                        >+ de 40 centros acreditados por JCI con Consultoría
                        Salqualis</strong
                    >
                </p>
            </div>
        </div>

        <div>
            <div>
                <div class="accreditation-container">
                    <div class="country-group">
                        <label for="spain" class="country-label"
                            >ESPA&Ntilde;A</label
                        >
                        <input
                            type="checkbox"
                            id="spain"
                            class="toggle-input"
                        />
                        <ul class="center-list spain">
                            <li>
                                Hospital Universitario Gregorio
                                Mara&ntilde;&oacute;n. Hospital
                                Materno-infantil. SERMAS. Madrid
                            </li>
                            <li>
                                Hospital Universitario de Cruces. Baracaldo.
                                Osakidetza. Vizcaya.
                            </li>
                            <li>
                                Hospital del Alto Deba en Mondrag&oacute;n,
                                Osakidetza. Guipuzcoa.
                            </li>
                            <li>
                                Hospital Universitario Costa del Sol. Marbella.
                                SAS. M&aacute;laga.
                            </li>
                            <li>
                                Cl&iacute;nica Universitaria Fundaci&oacute;n
                                Jim&eacute;nez Diaz. Grupo Quir&oacute;n. Madrid
                            </li>
                            <li>
                                Hospital Universitario Quir&oacute;n Pozuelo de
                                Alarc&oacute;n en Madrid
                            </li>
                            <li>
                                Hospital Cl&iacute;nica Dexeus Quir&oacute;n en
                                Barcelona
                            </li>
                            <li>Hospital Quir&oacute;n C&oacute;rdoba</li>
                            <li>Hospital Teknon Quir&oacute;n. Barcelona</li>
                            <li>Hospital Quir&oacute;n Barcelona</li>
                            <li>Hospital Quir&oacute;n Torrevieja. Alicante</li>
                            <li>
                                Hospital Universitario Quirón La Luz. Madrid
                            </li>
                            <li>Hospital La Zarzuela. BUPA-SANITAS. Madrid</li>
                            <li>Hospital La Moraleja. BUPA-SANITAS. Madrid</li>
                            <li>Hospital CIMA. BUPA-SANITAS Barcelona</li>
                            <li>
                                Hospital Nuestra Se&ntilde;ora del Mar.
                                BUPA-SANITAS Madrid
                            </li>
                            <li>
                                Hospital Vithas XANIT Internacional
                                Benalm&aacute;dena. M&aacute;laga
                            </li>
                            <li>Hospital Vithas Almeria</li>
                            <li>Hospital Vithas Granada</li>
                            <li>
                                Hospital Vithas Nuestra Se&ntilde;ora de
                                Am&eacute;rica. Madrid
                            </li>
                            <li>Hospital Zorrotzaurre en Bilbao. Vizcaya.</li>
                            <li>Hospital Cl&iacute;nica Benidorm. Alicante</li>
                            <li>
                                Cl&iacute;nica Universitaria de Navarra.
                                Pamplona
                            </li>
                            <li>
                                Cl&iacute;nica Universitaria de Navarra. Madrid
                            </li>
                            <li>Cl&iacute;nica Servidigest. Barcelona</li>
                            <li>
                                Clinica Emby. Cl&iacute;nica de
                                reproducci&oacute;n asistida. Oviedo. Asturias
                            </li>
                            <li>
                                Centro de salud. O&ntilde;ati. Osakidetza.
                                Guip&uacute;zcoa
                            </li>
                            <li>Centro de salud el Llano. SESPA. Asturias</li>
                            <li>
                                Servicio de atenci&oacute;n a domicilio Hospital
                                Gregorio Mara&ntilde;&oacute;n. SERMAS. Madrid
                            </li>
                            <li>
                                Grupo Quir&oacute;n: Acreditación Enterprises
                            </li>
                            <li>Grupo Vithas: Acreditación Enterprises</li>
                        </ul>
                    </div>

                    <div class="country-group">
                        <label for="peru" class="country-label"
                            >PER&Uacute;</label
                        >
                        <input type="checkbox" id="peru" class="toggle-input" />
                        <ul class="center-list peru">
                            <li>
                                Hospital Alberto Barton. Grupo Ibt. El Callao.
                            </li>
                            <li>
                                Hospital Guillermo Kaelin. Villa Mar&iacute;a
                                del Triunfo. Grupo Ibt. Lima
                            </li>
                            <li>
                                Cl&iacute;nica San Pablo Surco. Grupo San Pablo.
                                Lima
                            </li>
                            <li>
                                Cl&iacute;nica Jes&uacute;s del Norte. Grupo San
                                Pablo. Lima
                            </li>
                            <li>
                                Cl&iacute;nica San Gabriel. Grupo San Pablo.
                                Lima
                            </li>
                            <li>Cl&iacute;nica Ricardo Palma. Lima</li>
                            <li>
                                Policl&iacute;nico Alberto Barton. Grupo Ibt. El
                                Callao.
                            </li>
                            <li>
                                Policl&iacute;nico Guillermo Kaelin. Villa
                                Mar&iacute;a del Triunfo. Grupo Ibt. Lima
                            </li>
                            <li>
                                Servicios de atenci&oacute;n a domicilio de
                                Grupo Ibt
                            </li>
                        </ul>
                    </div>

                    <div class="country-group">
                        <label for="colombia" class="country-label"
                            >COLOMBIA</label
                        >
                        <input
                            type="checkbox"
                            id="colombia"
                            class="toggle-input"
                        />
                        <ul class="center-list colombia">
                            <li>
                                Grupo Colsanitas, Keralty Bogotá con tres
                                centros:

                                <p>- Clínica Reina Sofía</p>
                                <p>- Clínica Pediátrica Colsanitas</p>
                                <p>- Centro ambulatorio Colsanitas</p>
                            </li>
                        </ul>
                    </div>

                    <div class="country-group">
                        <label for="chile" class="country-label">CHILE</label>
                        <input
                            type="checkbox"
                            id="chile"
                            class="toggle-input"
                        />
                        <ul class="center-list chile">
                            <li>
                                Servicio de atenci&oacute;n a domicilio Hospital
                                Padre Hurtado. Servicio de Salud Sur Oriente.
                                Santiago de Chile
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
    </section>
    <section class="currently-section">
        <h2>¿En qué estamos trabajando actualmente?</h2>
        <p>
            14 centros están en proceso de consultoría para la acreditación
            J.C.I.
        </p>

        <div>
            <article>
                <div></div>
                <p>
                    3 hospitales en <strong>Chile</strong>
                </p>
            </article>
            <article>
                <div></div>
                <p>
                    2 centros ambulatorios en <strong>Chile</strong>
                </p>
            </article>
            <article>
                <div></div>
                <p>
                    1 centro de atención primaria en <strong>Chile</strong>
                </p>
            </article>

            <article>
                <div></div>
                <p>2 hospitales en <strong>Perú</strong></p>
            </article>

            <article>
                <div></div>
                <p>10 hospitales en <strong>España</strong></p>
            </article>
        </div>
    </section>
    <section class="accredit-article">
        <div class="flex-adjust">
            <div>
                <h2>Transformamos Centros Sanitarios hacia la Excelencia</h2>
                <p>
                    Con el respaldo de nuestra trayectoria internacional,
                    ayudamos a organizaciones de salud en varios países a
                    cumplir con los exigentes estándares del modelo JCI.
                </p>
                <p>
                    Las Organizaciones que ya han realizado este salto con éxito
                    destacan por la mejora en la eficiencia de los centros, el
                    aumento de la satisfacción de los clientes y en sus
                    resultados en salud. Ha supuesto un reto para todos las
                    profesionales implicados consiguiendo mejorar la atención a
                    sus pacientes.
                </p>

                <p>
                    Los estándares JCI tienen un enfoque muy asistencial lo que
                    supone una gran ventaja respecto a otros modelos para contar
                    con la motivación de los profesionales. Cada mejora
                    propuesta tiene repercusión directa en los pacientes , por
                    lo que es fácil de asumir y comprender.
                </p>
                <img src="/assets/img10.webp" />
            </div>
            <div>
                <img src="/assets/hospital.webp" />

                <h2>¿Cuál es el papel de Salqualis?</h2>
                <p>
                    Ofrecemos la tutoría necesaria para avanzar de forma segura,
                    evitando errores y optimizando los recurso, y tomando
                    decisiones certeras.
                </p>
                <p>
                    Es un camino en el que podemos acompañar a los centros hacia
                    la mejora continua y el cambio cultural de la organización.
                    Este proceso puede incluir, si así lo decide la
                    organización, el reto de alcanzar la acreditación JCI.
                </p>

                <h2>
                    Por qué elegir a Salqualis para su Acreditación de Calidad
                </h2>
                <p>
                    Nuestra consultoría actúa como el guía estratégico que tu
                    organización necesita. Nuestro equipo de élite ofrece un
                    acompañamiento cercano y experto para asegurar que su
                    institución <strong>alcance el Sello de Oro</strong> de la calidad
                    sanitaria internacional. Te invitamos a conocer a <a
                        href="/team">nuestro equipo de profesionales.</a
                    >
                </p>
            </div>
        </div>
        <a class="btn-primary" href="/contact/">Solicita más información</a>
    </section>
</Layout>
