---
import LayoutPrincipal from '../layouts/baseLayout.astro';
---

<LayoutPrincipal>
    <h1>Esta es la página de INICIO</h1>
    <p>Todo esto aparece dentro del layout, entre el header y el footer.</p>
</LayoutPrincipal>