---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="jci-article">
        <div>
            <h1>
                Consultoría Salqualis: Expertos en Asesoría para la Acreditación JCI.
            </h1>
            <div class="text-container">
                <p>
                    Somos <strong
                        >especialistas en la implementación de estándares de
                        calidad <a
                            href="/consultoria-web/JCIAccreditation"
                            target="_blank">Joint Commission International</a
                        ></strong
                    > para organizaciones de salud que buscan la excelencia operativa
                    y la seguridad del paciente.
                    <br />
                    <br />
                    Además realizamos asesoría a centros sanitarios para el desarrollo
                    de estrategias trasformadoras, dirigidas a la mejora de la calidad
                    y seguridad centrada en el paciente.
                </p>
                <p>
                    Consultoría Salqualis cuenta con más de <strong
                        >25 años de experiencia</strong
                    > brindando soporte y consultoría a centros hospitalarios, ambulatorios
                    y de atención primaria para el desarrollo de cambios estratégicos
                    enfocados a mejora de la calidad y eficiencia.
                </p>
            </div>

            <!-- <a href="/consultoria-web/JCIAccreditation" class="btn-primary"
                >¿Qué es la acreditación JCI?</a
            > -->
            <!-- <p>
                Además realizamos asesoría a centros sanitarios para el
                desarrollo de estrategias trasformadoras, dirigidas a la mejora
                de la calidad y seguridad centrada en el paciente.
            </p>
            <p>
                Consultoría Salqualis cuenta con más de <strong
                    >25 años de experiencia</strong
                > brindando soporte y consultoría a centros hospitalarios, ambulatorios
                y de atención primaria para el desarrollo de cambios estratégicos
                enfocados a mejora de la calidad y eficiencia.
            </p> -->
        </div>
    </section>
    <section class="map-article" id="centros-acred">
        <h2>
            Centros de Excelencia acreditados que avalan nuestra trayectoria
        </h2>
        <p>
            Nuestra mayor carta de presentación es la confianza de los numerosos
            hospitales que nos eligen para acompañarles hasta el éxito de su
            acreditación inicial y en sus sucesivos procesos de reacreditación.
            Esta sólida experiencia, avalada por la fidelidad de directivos y
            profesionales de la salud, constituye nuestro mejor salvoconducto y
            un testimonio real del compromiso continuo que mantenemos con la
            excelencia de cada organización.
        </p>
        <p>
            Desde 1999, 42 establecimientos de salud Públicos y Privados han
            obtenido su acreditación JCI bajo nuestra guía y soporte experto.
            Hemos trabajado con algunas de las instituciones sanitarias más
            prestigiosas a nivel nacional e internacional:
        </p>
        <div class="map-container">
            <div id="map" style="height: 500px; width: 80%;"></div>
        </div>
    </section>
    <section class="currently-section">
        <h2>¿En qué estamos trabajando actualmente?</h2>
        <p>
            14 centros están en proceso de consultoría para la acreditación
            J.C.I.
        </p>

        <div>
            <article>
                <div></div>
                <p>
                    3 hospitales en <strong>Chile</strong>
                </p>
            </article>
            <article>
                <div></div>
                <p>
                    2 centros ambulatorios en <strong>Chile</strong>
                </p>
            </article>
            <article>
                <div></div>
                <p>
                    1 centro de atención primaria en <strong>Chile</strong>
                </p>
            </article>

            <article>
                <div></div>
                <p>2 hospitales en <strong>Perú</strong></p>
            </article>

            <article>
                <div></div>
                <p>10 hospitales en España</p>
            </article>
        </div>
    </section>
    <section class="accredit-article">
        <div>
            <div>
                <h2>Transformamos Centros Sanitarios hacia la Excelencia</h2>
                <p>
                    Con el respaldo de una trayectoria internacional, ayudamos a
                    clínicas y hospitales en varios países a cumplir con los
                    exigentes estándares del modelo JCI.
                </p>
                <p>
                    Las Organizaciones que ya han realizado este salto con éxito
                    destacan por la mejora en la eficiencia de los centros, el
                    aumento de la satisfacción de los clientes y en sus
                    resultados en salud. Ha supuesto un el reto para todos las
                    profesionales implicados consiguiendo mejorar la atención a
                    sus pacientes.
                </p>
                <!-- <p>
                    Los centros sanitarios que deciden dar el paso adelante para
                    la obtención de la Acreditación de calidad ofrecida a través
                    de J.C.I., aceptan que ello supone asumir cambios
                    trascendentales en la organización para poder cumplir con
                    los exigentes requisitos establecidos en los diferentes
                    estándares del modelo JCI.
                </p> -->
                <p>
                    Este tránsito hacia la excelencia requiere un esfuerzo
                    coordinado de toda la organización, la implicación de los
                    profesionales y apoyo por parte del liderazgo.
                </p>
                <img src="assets/img10.webp"/>
            </div>
            <div>
                <img src="assets/img9.webp" />

                <p>
                    Los estándares JCI tiene un enfoque muy asistencial lo que
                    supone una gran ventaja respecto a otros modelos para contar
                    con la motivación de los profesionales. Cada mejora
                    propuesta tiene repercusión directa en los pacientes , por
                    lo que es fácil de asumir y comprender.
                </p>
                <h2>¿Cuál es el papel de Salqualis?</h2>
                <p>
                    Brindamos la tutoría necesaria para avanzar de forma segura,
                    evitando errores y optimizando los recurso, y tomando
                    decisiones certeras.
                </p>
                <p>
                    Es un camino en el que podemos acompañar a los centros
hacia la mejora continua y el cambio cultural de la
organización. Este proceso puede incluir, si así lo decide en
centro, el reto de alcanzar la acreditación JCI.
                </p>

                <h2>
                    Por qué elegir a Salqualis para su Acreditación de Calidad
                </h2>
                <p>
                    Somos una consultoría de alta dirección que
actúa como el guía estratégico que tu organización necesita. Nuestro
                    equipo de élite ofrece un acompañamiento cercano y experto
                    para asegurar que su institución <strong
                        >alcance el Sello de Oro</strong
                    > de la calidad sanitaria internacional. Te invitamos a conocer
                    a <a href="/team">nuestro equipo de profesionales.</a>
                </p>
            </div>
        </div>
        <a class="btn-primary" href="/consultoria-web/contact/">Solicita más información</a>
    </section>
</Layout>
