---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="ac-jci-section">
            <article style="justify-content:center; align-items: center; display:flex;flex-direction:column">
                <h1>
                    La Importancia de la Acreditación JCI: El "Sello de Oro" de
                    la Calidad Sanitaria.
                </h1>
                <p>
                    La <a
                        href="https://www.jointcommission.org/en"
                        target="_blank">Joint Commission International</a
                    > es la organización con mayor prestigio mundial en la acreditación
                    de organizaciones de
salud. Creada en 1996 como la división internacional
                    de The Joint Commission (EE. UU.), su misión es mejorar la seguridad
                    del paciente y la calidad de la atención sanitaria en la comunidad
                    internacional.
                </p>
                <img src="assets/img5.jpg" alt="" style="max-height:500px"/>
            </article>
        <article>
            <div>
            <div>

                <h2>¿Por qué es el estándar más exigente del mundo?</h2>
                <p>
                    A diferencia de otras normas, el modelo JCI es
                    específicamente sanitario y sus estándares son desarrollados
                    y evaluados por expertos internacionales.
                </p>
                <ul class="list-icon">
                    <li>
                        <img src="assets/icon/circled-arrow.svg"/><strong>Actualización Constante:</strong> Los estándares se
                        revisan y mejoran periódicamente para incorporar las últimas
                        evidencias en seguridad clínica, calidad y gestión hospitalaria.
                    </li>
                    <li>
                        <img src="assets/icon/circled-arrow.svg"/><strong>Presencia Global:</strong> Actualmente, más de 1.000
                        establecimientos de salud en todo el mundo ya cuentan con esta
                        acreditación, formando parte de una red exclusiva de excelencia.
                    </li>
                    <li>
                        <img src="assets/icon/circled-arrow.svg"/><strong
                            >El Sello de Oro (Gold Seal of Approval®):</strong
                        > Es el símbolo reconocido mundialmente que certifica que
                        un hospital cumple con los protocolos más estrictos de seguridad
                        del paciente.
                    </li>
                </ul>
            </div>
            <div>
                <h2>Beneficios Estratégicos para su Institución</h2>
                <p>
                    Obtener la acreditación JCI no es solo un reconocimiento; es
                    una transformación profunda que aporta:
                </p>
                <ol class="list-icon">
                    <li>
                        <img src="assets/icon/circled-arrow.svg"/><strong>Seguridad del Paciente:</strong> Reducción drástica
                        de riesgos y errores clínicos mediante la implementación de
                        las Metas Internacionales de Seguridad del Paciente.
                    </li>
                    <li>
                        <img src="assets/icon/circled-arrow.svg"/><strong>Prestigio y Confianza:</strong> Posicionamiento líder
                        frente a pacientes, profesionales y organizaciones sanitarias públicas y privadas, quienes valoran el "peso" de esta acreditación
                        por encima de cualquier otra.
                    </li>
                    <li>
                        <img src="assets/icon/circled-arrow.svg"/><strong>Excelencia Operativa:</strong> Mejora de la eficiencia
                        clínica y la satisfacción del cliente a través de procesos
                        estandarizados y evaluados continuamente.
                    </li>
                    <li>
                        <img src="assets/icon/circled-arrow.svg"/><strong>Cultura de Calidad:</strong> Estimula a los profesionales
                        y ayuda al liderazgo a guiar a la organización hacia un cambio
                        de enfoque basado en la mejora continua.
                    </li>
                </ol>
            </div>
            </div>

        </article>
    </section>
</Layout>
