---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="servJCI-section">
        <header>
            <h2>
                Servicios de consultoría para la acreditación Joint Commission
                International
            </h2>
            <p>
                Ofrecemos diferentes servicios adaptados a las necesidades de
                cada centro.
            </p>
            <p>
                La cartera de propuestas de apoyo se decide en función de las
                características y situación de cada organización: tipo de
                centro, acreditación inicial, reacreditación, tipo de
                estructuras de apoyo interno y otras circunstancias.
            </p>
            <p class="hightlight">
                Salqualis desarrolla siempre una propuesta singular adaptada a
                las características y momento de cada establecimiento.
            </p>
        </header>
        <div class="bg-met-swiper">
            <div>
                <div class="swiper metodology-swiper">
                    <div class="swiper-wrapper">
                        <article class="swiper-slide">
                            <span>01</span>
                            <h3>Formación y entrenamiento al Liderazgo</h3>
                            <p>
                                Capacitación específica para directivos y staff
                                profesional en el modelo JCI.
                            </p>
                        </article>

                        <article class="swiper-slide">
                            <span>02</span>
                            <h3>Auditoría Simulada Inicial (Mock Survey)</h3>
                            <p>
                                Realizamos un diagnóstico inicial con la
                                metodología exacta de JCI (trazadores clínicos y
                                de sistemas) para conocer su porcentaje de
                                cumplimiento real al inicio del proceso.
                            </p>
                        </article>

                        <article class="swiper-slide">
                            <span>03</span>
                            <h3>Soporte y Tutoría Personalizada</h3>
                            <p>
                                Consultoría tutelada hasta la auditoría final.
                                Ofrecemos tres escenarios de visitas al
                                establecimiento (Estratégico, Moderado o
                                Intenso) adaptados a los requerimientos de su
                                organización.
                            </p>
                        </article>

                        <article class="swiper-slide">
                            <span>04</span>
                            <h3>Auditoría Simulada final (Mock Survey)</h3>
                            <p>
                                Realizamos una auditoria simulada cerca de la
                                fecha de la visita de acreditación para conocer
                                los puntos más débiles y establecer las medidas
                                correctoras necesarias.
                            </p>
                        </article>

                        <article class="swiper-slide">
                            <span>05</span>
                            <h3>Ensayo de visita auditoria JCI</h3>
                            <p>
                                Entrenamos al personal y organización para la
                                gestión del proceso de auditoria con los roles
                                de cada uno de los profesionales y el ensayo de
                                la agenda de trazadores y entrevistas.
                            </p>
                        </article>

                        <article class="swiper-slide">
                            <span>06</span>
                            <h3>
                                Acompañamiento de profesionales del equipo
                                Salqualis
                            </h3>
                            <p>
                                durante los días de la auditoría formal de
                                acreditación.
                            </p>
                        </article>
                         <article class="extra swiper-slide">
            <div></div>
            <h3>Sesiones online</h3>
            <p>
                Para responder a dudas o comentar avances en diferentes momentos
                del proceso, según las necesidades de cada establecimiento.
            </p>
        </article>
                    </div>
                </div>
                <div class="swiper-button-next">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="800px"
                        height="800px"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.2929 8.70711C10.9024 8.31658 10.9024 7.68342 11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071C10.9024 16.3166 10.9024 15.6834 11.2929 15.2929L13.5858 13H8C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H13.5858L11.2929 8.70711Z"
                            fill="#0F1729"></path>
                    </svg>
                </div>
                <div class="swiper-button-prev">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="800px"
                        height="800px"
                        viewBox="0 0 24 24"
                        fill="none"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.2929 8.70711C10.9024 8.31658 10.9024 7.68342 11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071C10.9024 16.3166 10.9024 15.6834 11.2929 15.2929L13.5858 13H8C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H13.5858L11.2929 8.70711Z"
                            fill="#0F1729"></path>
                    </svg>
                </div>
            </div>
        </div>

       
    </section>

    <section class="servOpening-section">
        <header>
            <h2>Preparación para nuevas aperturas de centros</h2>
        </header>
        <article>
            <ul class="list-border">
                <li>
                    <strong>ORIENTAR</strong> la estructura de los centros a hacia
                    la excelencia desde su inicio:
                    <ul>
                        <li>a. Flujo de pacientes</li>
                        <li>b. Requerimientos ambientales</li>
                        <li>c. Funcionalidad del edificio</li>
                        <li>d. Requisitos de las instalaciones</li>
                        <li>e. Revisión de la ingeniería del edifico</li>
                    </ul>
                </li>
                <li>
                    <strong>ASEGURAR</strong> el cumplimiento de requisitos de JCI
                    para el entorno de la asistencia.
                    <p>
                        <a href="/consultoria-web/team" class="btn-primary"
                            >Conoce a nuestro equipo</a
                        >
                    </p>
                </li>
            </ul>
            <div>
                <img
                    src="/assets/img-building.webp"
                    alt="Imagen de un edificio"
                />
            </div>
        </article>
    </section>
    <section class="servForm-section">
        <header>
            <h2>Consultoria estrategica y formación de profesionales</h2>
        </header>
        <article>
            <ul>
                <li>
                    <strong
                        >Definición de plan funcional para los nuevos centros.</strong
                    >
                    <ul class="list-icon">
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Desarrollo
                            de planes funcionales completos de establecimientos sanitarios
                            de nueva apertura para su adecuación al entorno: población,
                            situación de servicios de salud en el área, cartera de
                            servicios e infraestructuras necesarias.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong
                        >Desarrollo de soluciones para la mejora en la gestión y
                        planificación de establecimientos sanitarios.</strong
                    >
                    <ul class="list-icon">
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Apoyo al
                            liderazgo de las organizaciones en los procesos para la
                            consolidación de <strong>nuevos servicios</strong>,
                            establecimiento de estrategias de innovación,
                            crecimiento y mejora de la eficiencia.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Formación de profesionales</strong> presencial y on-line:
                    <ul class="list-icon">
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Calidad y
                            seguridad del paciente. AMFE, ACR, Mapas de riesgo, moceo
                            de gestión.
                        </li>
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Desarrollo
                            de los requerimientos de calidad en el proceso completo
                            de la medicación en los establecimientos sanitarios.
                        </li>
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Formación
                            para el desarrollo e implantación del modelo de farmacia
                            clínica en los hospitales.
                        </li>
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Desarrollo
                            de modelos de gestión en los servicios clínicos, desarrollo
                            de comisiones clínica.
                        </li>
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Formación
                            para la mejora en la codificación CIE-10 y posicionamiento
                            y análisis de la información obtenida.
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
        <a href="/consultoria-web/team" class="btn-primary"
            >Conoce a nuestro equipo</a
        >
    </section>
    <section class="servCod-section">
        <header><h2>Servicio de codificación clínica</h2></header>
        <article>
            <ul>
                <li>
                    <strong
                        >Desarrollo e implantación de la codificación clínica
                        según CIE-10 en centros hospitalarios:</strong
                    >
                    <ul class="list-icon">
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Servicio
                            de codificación on-line parcial o completo según necesidades
                            del hospital.
                        </li>
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Rigurosidad
                            en la codificación para mejorar la complejidad y case-mix
                            del hospital.
                        </li>
                        <li>
                            <img src="/assets/icon/circled-arrow.svg" /> Rapidez en
                            la respuesta para facilitar análisis de la información
                            clínica que apoye la toma de decisiones.
                        </li>
                    </ul>
                </li>
            </ul>
        </article>
        <a href="/team" class="btn-primary">Conoce a nuestro equipo</a>
    </section>
</Layout>
