---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <link rel="preload" href="/assets/JGarcia.webp" as="image" slot="head" />
    <link rel="preload" href="/assets/CCortes.webp" as="image" slot="head" />
    <link rel="preload" href="/assets/JCMartin.webp" as="image" slot="head" />
    <link rel="preload" href="/assets/VReina.webp" as="image" slot="head" />
    <link rel="preload" href="/assets/VUribe.webp" as="image" slot="head" />
    <link rel="preload" href="/assets/DGarcia.webp" as="image" slot="head" />
    <link rel="preload" href="/assets/SRodriguez.webp" as="image" slot="head" />
    <link rel="preload" href="/assets/VUribe.webp" as="image" slot="head" />

    <section aria-labelledby="titulo-equipo" class="team-section">
        <div>
            <h1 id="titulo-equipo">
                Liderazgo y Experiencia en Gestión Sanitaria
            </h1>
            <div class="team-grid" role="list">
                 <article class="flip-card accent">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img
                                    src="/assets/JGarcia.webp"
                                    alt="José A. García Ruiz"
                                />
                            </div>
                            <div class="text-container">
                                <h2>
                                    <img
                                        src="/assets/icon/stethoscope.svg"
                                        alt=""
                                    />Jose Antonio García Ruiz
                                </h2>
                                <p class="academic-title">
                                    <strong>Director Consultoria</strong>
                                </p>
                                <p>
                                    Socio fundador y Director de Consultoría
                                    Saquialis. Médico, surveyor de JCI desde
                                    hace 25 años . Ha realizado labores de
                                    consultoría en mas de 100 establecimientos
                                    de salud.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong>TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Licenciado en Medicina. Universidad de
                                    Granada
                                </li>
                                <li>
                                    Consultor y Surveyor Senior, Joint
                                    Commission International FAD
                                </li>
                                <li>
                                    Experto en Calidad y Seguridad Clínica.
                                    Escuela Andaluza Salud Pública
                                </li>
                                <li>
                                    Experto Universitario en Gestión Sanitaria.
                                    Universidad de Granada. EASP.
                                </li>
                                <li>
                                    Diplomado en Alta Dirección de Empresas AD1.
                                    Instituto Internacional San Telmo
                                </li>
                                <li>Diplomado en Gestión Hospitalaria. EADA</li>
                                <li class="title">
                                    <strong>CONSULTORÍA SALQUALIS</strong>
                                </li>
                                <li>Socio Director Consultoría Salqualis</li>
                                <li>
                                    Múltiples proyectos como consultor de
                                    Calidad en diferentes centros sanitarios
                                    para acreditación J.C.I.
                                </li>
                                <li>
                                    Asistencias técnicas específicas para
                                    diferentes centros, destacando Grupo Quirón,
                                    Sanitas / BUPA y Vithas. A nivel
                                    internacional con consultorías en Servicio
                                    de Salud en Chile, y centros de Perú y
                                    Colombia.
                                </li>
                                <li>
                                    Ha participado en auditoría y consultoría de
                                    JCI en más de 100 hospitales y otros centros
                                    sanitarios.
                                </li>
                                <li class="title">
                                    <strong
                                        >TRAYECTORIA PROFESIONAL DESTACADA</strong
                                    >
                                </li>
                                <li>
                                    Director Gerente del Hospital Costa del Sol.
                                    Marbella
                                </li>
                                <li>
                                    Director de Sistemas de Información y
                                    Calidad del Hospital Costa del Sol. Marbella
                                </li>
                                <li>
                                    Director Provincial de Atención Sanitaria.
                                    Málaga
                                </li>
                                <li>
                                    Cooperación internacional en Angola, El
                                    Salvador y Honduras en diversos periodos
                                </li>
                                <li>
                                    Profesor asociado a la Escuela Andaluza de
                                    Salud Pública. Profesor colaborador en las
                                    áreas de Calidad, Seguridad Clínica, Gestión
                                    y colaboración internacional.
                                </li>
                                <li>
                                    Profesor en el Máster de Gestión
                                    Hospitalaria. Universidad de Alcalá de
                                    Henares
                                </li>
                                <li>
                                    Profesor en el Máster de Ingeniería
                                    hospitalaria. Universidad de Málaga
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="team-grid" role="list">
               
                <article class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img
                                    src="/assets/SRodriguez.webp"
                                    alt="Salvador Rodriguez Pérez"
                                />
                            </div>
                            <div class="text-container">
                                <h2>
                                    <img
                                        src="/assets/icon/helmet.svg"
                                        alt=""
                                    />Salvador Rodríguez Pérez
                                </h2>
                                <p class="academic-title">
                                    <strong
                                        >Gestión de Infraestructuras y
                                        Tecnología</strong
                                    >
                                </p>
                                <p>
                                    Ingeniero Superior Industrial. Especializado
                                    en Ingeniería Hospitalaria y Alta Dirección.
                                    Experto en seguridad de Instalaciones,
                                    gestión de tecnologías sanitarias y puesta
                                    en marcha de hospitales de alta complejidad.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong>TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Ingeniero Superior Industrial del ICAI
                                    (ESPECIALIDAD MECÁNICA) Universidad
                                    Pontificia Comillas. Madrid.
                                </li>
                                <li>
                                    Máster en Ingeniería y Gestión de
                                    Infraestructuras Hospitalarias Universidad
                                    de Málaga.
                                </li>
                                <li>
                                    Programa de alta dirección (ad-1). Instituto
                                    Internacional San Telmo.
                                </li>
                                <li>
                                    Auditor de sistemas de la calidad Aenor.
                                    Ministerio de Ciencia y Tecnología y
                                    Ministerio de Defensa.
                                </li>
                                <li>
                                    Técnico superior de prevención de riesgos
                                    laborales en las especialidades de seguridad
                                    e higiene industrial. Instituto de
                                    Post-Grado de ICADE.
                                </li>

                                <li class="title">
                                    <strong>CONSULTORÍA SALQUALIS</strong>
                                </li>
                                <li>
                                    Asistencia y consultoría en más de 30
                                    centros y hospitales.
                                </li>
                                <li>
                                    Referente en Gestión y seguridad de las
                                    instalaciones.
                                </li>
                                <li>
                                    Referente en apoyo al programa de prevención
                                    y control de la infección.
                                </li>
                                <li>
                                    Referente en gestión de tecnologías
                                    sanitarias.
                                </li>

                                <li class="title">
                                    <strong
                                        >EXPERIENCIA PROFESIONAL DESTACADA</strong
                                    >
                                </li>
                                <li>
                                    INGHO FACILITIES & MANAGEMENT S.L. Director
                                    Gerente - Ingeniero consultor.
                                </li>
                                <li>
                                    VINCLES SOLUCIONES SECTOR DE LA SALUD, SL.
                                    Gerente del Área de Facility Management y
                                    director de INGHO Facility Management, SL.
                                </li>
                                <li>
                                    EMPRESA PÚBLICA HOSPITAL COSTA DEL SOL.
                                    Director de Servicios Generales e
                                    Ingeniería.
                                </li>
                                <li>
                                    Coordinador de actuaciones tendentes a la
                                    Puesta en Marcha del Hospital Costa Del Sol
                                    en Marbella.
                                </li>
                                <li>
                                    INGENIERÍA Y ARQUITECTURA G7 ESTUDIOS Y
                                    PROYECTOS. Ingeniero Consultor y Socio.
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img
                                    src="/assets/CCortes.webp"
                                    alt="Carmen Cortes Martínez"
                                />
                            </div>
                            <div class="text-container">
                                <h2>
                                    <img
                                        src="/assets/icon/stethoscope.svg"
                                        alt=""
                                    />Dra. Carmen Cortes Martínez
                                </h2>
                                <p class="academic-title">
                                    <strong
                                        >Seguridad Clínica y Procesos médicos</strong
                                    >
                                </p>
                                <p>
                                    Doctora en Medicina. Médico Especialista en
                                    Medina Preventiva y Salud Público. Larga
                                    trayectoria en gestión de centros
                                    sanitarios. Socia fundadora en Consultoría
                                    Salqualis.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong>TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Licenciada en Medicina. Universidad de
                                    Granada (UGR)
                                </li>
                                <li>
                                    Médico Especialista en Medicina Preventiva y
                                    Salud Pública.
                                </li>
                                <li>
                                    Doctor en Medicina. UGR
                                </li>
                                <li>
                                    Máster Universitario en Salud Pública y
                                    Administración Sanitaria. Escuela Andaluza
                                    de Salud Pública. UGR
                                </li>
                                <li>
                                    Experto Universitario en Epidemiología e
                                    Investigación Clínica. Escuela Andaluza de
                                    Salud Pública. UGR
                                </li>
                                <li>
                                    Máster en Especialización en Gestión y
                                    Metodología de la Calidad Asistencial.
                                    Universidad Autónoma de Barcelona.
                                </li>

                                <li class="title">
                                    <strong>CONSULTORÍA SALQUALIS</strong>
                                </li>
                                <li>Socio Consultoría Salqualis.</li>
                                <li>
                                    Asistencia y consultoría en grupos como
                                    SANITAS/BUPA, Quirón y Servicios de Salud de
                                    Chile. Referente en trazadores clínicos,
                                    prevención control de la infección, mejora
                                    de la calidad, evaluación, atención centrada
                                    en el paciente y liderazgo.
                                </li>
                                <li>
                                    Referente en Prevención control de la
                                    infección, mejora de la calidad, evaluación,
                                    atención centrada en el paciente y
                                    liderazgo.
                                </li>
                                <li>
                                    Referente para programa de trasplantes en
                                    acreditación.
                                </li>
                                <li>
                                    Referente en consultoría de acreditación en
                                    centros académicos e investigadores.
                                </li>

                                <li class="title">
                                    <strong
                                        >EXPERIENCIA PROFESIONAL DESTACADA</strong
                                    >
                                </li>
                                <li>
                                    Directora General de Calidad, Investigación
                                    y Gestión del conocimiento. Sevilla.
                                    Consejería de Salud. Junta de Andalucía.
                                </li>
                                <li>
                                    Directora General de Asistencia Sanitaria:
                                    SAS. Sevilla.
                                    Consejería de Salud. Junta de Andalucía.
                                </li>
                                <li>
                                    Cooperación internacional en Angola, El
                                    Salvador y República Dominicana en diversos
                                    periodos.
                                </li>
                                <li>
                                    Directora Médico Hospital Vithas Málaga.
                                </li>
                                <li>
                                    Directora Gerente de los hospitales:
                                    Universitario Regional de Málaga y Hospital
                                    Universitario de Málaga. SAS
                                </li>
                                <li>
                                    Directora Gerente Hospital Comarcal de la
                                    Axarquía. Vélez Málaga.
                                </li>
                                <li>
                                    Directora Médica. Hospital Comarcal de
                                    Antequera.
                                </li>
                                <li>
                                    Directora asistencial - Distrito sanitario
                                    de atención primaria Costa del Sol.
                                </li>
                                <li>
                                    Médico en epidemiología y salud pública
                                    distrito Málaga. SAS
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img class="top"
                                    src="/assets/VUribe.webp"
                                    alt="Victoria Uribe Pérez"
                                />
                            </div>
                            <div class="text-container">
                                <h2>
                                    <img
                                        src="/assets/icon/stethoscope.svg"
                                        alt=""
                                    />Victoria Uribe Pérez
                                </h2>
                                <p class="academic-title">
                                    <strong
                                        >Seguridad Clínica y Procesos médicos</strong
                                    >
                                </p>
                                <p>
                                    Médico Especialista en Medicina Interna.
                                    Referente en calidad y seguridad de
                                    servicios médicos. Consultora experta en
                                    trazadores clínicos en Consultoría
                                    Salqualis.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong>TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Licenciada en Medicina. Universidad de
                                    Málaga.
                                </li>
                                <li>
                                    Médico Especialista en Medicina Interna.
                                </li>
                                <li>
                                    Máster Universitario en Ecografía Clínica.
                                    Universidad de Huelva.
                                </li>
                                <li>
                                    Máster Universitario en Enfermedades
                                    Autoinmunes. Universidad de Huelva.
                                </li>
                                <li>
                                    Experto Universitario en Resistencias
                                    Antimicrobianas y Optimización del uso de
                                    antimicrobianos. Universidad de Sevilla.
                                </li>
                                <li>
                                    Experto Universitario en Infecciones por el
                                    VIH y Enfermedades asociadas. Universidad de
                                    Sevilla.
                                </li>

                                <li class="title">
                                    <strong>CONSULTORÍA SALQUALIS</strong>
                                </li>
                                <li>
                                    Asistencia y consultoría de JCI en
                                    hospitales en España y Chile.
                                </li>
                                <li>
                                    Referente en trazadores clínicos, evaluación
                                    y asistencia a pacientes.
                                </li>
                                <li>
                                    Referente en Metas de Seguridad de
                                    pacientes.
                                </li>
                                <li>
                                    Referente en gestión de sistemas de
                                    información clínica asistencial e
                                    implantación de registros clínicos.
                                </li>
                                <li>
                                    Referente en gestión y uso de la medicación.
                                </li>

                                <li class="title">
                                    <strong
                                        >EXPERIENCIA PROFESIONAL DESTACADA</strong
                                    >
                                </li>
                                <li>
                                    Médico internista en Hospital Costa del Sol
                                    de Marbella.
                                </li>
                                <li>Médico internista en Hospital Quirón.</li>
                                <li>Médico internista en Hospital Vithas.</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img
                                    loading="lazy" src="/assets/barranchina.webp"
                                    alt="Juan Ignacio Barrachina"
                                />
                            </div>
                            <div class="text-container">
                                <h2>
                                    <img
                                        src="/assets/icon/stethoscope.svg"
                                        alt=""
                                    />Juan Ignacio Barrachina
                                </h2>
                                <p class="academic-title">
                                    <strong
                                        >Seguridad Clínica y Procesos médicos</strong
                                    >
                                </p>
                                <p>
                                    Médico experto en Gestión Hospitalaria
                                    (ESADE) con una trayectoria de alto nivel
                                    como CEO y Gerente de consultoría en PwC e
                                    Iasist. Especialista en planificación
                                    estratégica y reorganización de procesos
                                    asistenciales, ha liderado proyectos de
                                    acreditación internacional y eficiencia
                                    operativa en más de 50 centros.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong>TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Licenciado en Medicina. Universidad de
                                    Barcelona.
                                </li>
                                <li>
                                    Diplomado en Gestión Hospitalaria. Escuela
                                    Superior de Administración y Dirección de
                                    Empresas (ESADE).
                                </li>

                                <li class="title">
                                    <strong>CONSULTORÍA SALQUALIS</strong>
                                </li>
                                <li>
                                    Asistencia y consultoría en más de 50
                                    centros para consultoría de calidad y de
                                    gestión.
                                </li>
                                <li>
                                    Elaboración del Plan Estratégico de 20
                                    empresas del ámbito de salud.
                                </li>
                                <li>
                                    Desde el año 2011 preparación de diversas
                                    organizaciones para la acreditación de la
                                    JCI en Europa y América Latina.
                                </li>
                                <li>
                                    Reorganización de procesos asistenciales y
                                    de gestión en cinco unidades asistenciales
                                    de grandes hospitales.
                                </li>
                                <li>
                                    Establecimiento de líneas de mejora en la
                                    gestión de los contratos con los
                                    financiadores.
                                </li>
                                <li>
                                    Implantación de un sistema de información
                                    clínico basado en GRD en el Instituto
                                    Mexicano del Seguro Social (IMSS).
                                </li>
                                <li>
                                    Definición de un modelo de evaluación de los
                                    centros proveedores de asistencia socio
                                    sanitaria y psiquiátrica.
                                </li>
                                <li>
                                    Desarrollo de un modelo de gestión de
                                    proyectos en una agencia europea (Unión
                                    Europea).
                                </li>
                                <li>
                                    Evaluación de los resultados asistenciales
                                    de la cirugía oncológica en una Región de
                                    España.
                                </li>
                                <li>
                                    Análisis de la casuística hospitalaria en
                                    más de cuarenta hospitales de España,
                                    Portugal y América Latina.
                                </li>

                                <li class="title">
                                    <strong
                                        >TRAYECTORIA PROFESIONAL DESTACADA</strong
                                    >
                                </li>
                                <li>
                                    Consultor Sénior en Consultora de Hospitales
                                    SA (CODEH).
                                </li>
                                <li>
                                    Adjunto al director general en Centro
                                    Inmunológico de Cataluña.
                                </li>
                                <li>
                                    Gerente de Consultoría en PwC
                                    (PricewaterhouseCoopers).
                                </li>
                                <li>Director de Proyectos en Iasist SA.</li>
                                <li>
                                    Gerente (CEO) de la Provincia de Barcelona
                                    de las Hermanas Hospitalarias.
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img loading="lazy"
                                    src="/assets/DGarcia.webp"
                                    alt="Diego García Cortés"
                                />
                            </div>
                            <div class="text-container">
                                <h2>
                                    <img
                                        src="/assets/icon/pill.svg"
                                        alt=""
                                    />Diego García Cortés
                                </h2>
                                <p class="academic-title">
                                    <strong>Gestión de la Medicación</strong>
                                </p>
                                <p>
                                    Farmacéutico Especialista en Farmacia
                                    Hospitalaria, con una destacada trayectoria
                                    en NHS de Reino Unido. Experto en farmacia
                                    clínica, especializado en el despliegue del
                                    modelo JCI para gestión del medicamento.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong>TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Grado de Farmacia, Universidad de Sevilla.
                                </li>
                                <li>
                                    Farmacéutico especialista en Farmacia
                                    Hospitalaria Clínica.
                                </li>
                                <li>
                                    Pharmacist independent prescriber.
                                    University of Hallam. U.K.
                                </li>
                                <li>
                                    Postgrado de Farmacia Clínica. University of
                                    Bradford. U.K.
                                </li>

                                <li class="title">
                                    <strong>CONSULTORÍA SALQUALIS</strong>
                                </li>
                                <li>
                                    Asistencia y consultoría en centros para
                                    despliegue del modelo de gestión y uso de la
                                    medicación de JCI.
                                </li>
                                <li>
                                    Referente en Metas de seguridad de pacientes
                                    especialmente relativas a medicación de alto
                                    riesgo.
                                </li>
                                <li>Referente en Calidad y Seguridad.</li>
                                <li>
                                    Referente en revisión de procesos
                                    asistenciales.
                                </li>

                                <li class="title">
                                    <strong
                                        >EXPERIENCIA PROFESIONAL DESTACADA</strong
                                    >
                                </li>
                                <li>
                                    En la actualidad: Farmacéutico Hospital
                                    Costa del Sol. Marbella. SAS.
                                </li>
                                <li>
                                    Farmacéutico Hospital Universitario Málaga.
                                    SAS.
                                </li>
                                <li>
                                    Farmacéutico Hospital Regional de Málaga.
                                    SAS.
                                </li>
                                <li>
                                    Farmacéutico de Hospital Quirón Marbella.
                                </li>
                                <li>
                                    Band 8ª Senior clinical pharmacist. Jefe de
                                    sección. Chesterfield Royal Hospital. NHS.
                                    U.K.
                                </li>
                                <li>
                                    Band 7ª Senior clinical pharmacist.
                                    Chesterfield Royal Hospital. NHS. U.K.
                                </li>
                                <li>
                                    Band 7/6ª Senior clinical pharmacist.
                                    Doncaster & Bassetlaw Teaching Hospitals.
                                    Doncaster. NHS. U.K.
                                </li>
                                <li>
                                    Clinical research associate. Unidad de
                                    investigación y ensayos clínicos. IBIMA.
                                    Málaga.
                                </li>
                                <li>
                                    Senior clinical pharmacist. BMI hospitals.
                                    Sheffield. U.K.
                                </li>
                                <li>Jefe de Servicio Farmacia Hospitalaria Hospital Quiron Marbella 2023
</li>
<li>FEA Farmacia Hospitalaria Servicio Andaluz de Salud 2024-presente</li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img loading="lazy"
                                    src="/assets/JCMartin.webp"
                                    alt="José carlos Martín Santos"
                                />
                            </div>
                            <div class="text-container">
                                <h2>José Carlos Martín Santos</h2>
                                <p class="academic-title">
                                    <strong>Cuidados de Enfermería</strong>
                                </p>
                                <p>
                                    Amplia experiencia en Dirección de
                                    Enfermería y Calidad en centros
                                    hospitalarios. Consultor en implantación y
                                    desarrollo de competencias técnicas de
                                    enfermería y evaluación bajo el modelo JCI.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong
                                        >TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Grado de enfermería en la Universidad de
                                    Salamanca.
                                </li>
                                <li>
                                    Programa de desarrollo en liderazgo para la
                                    gestión de enfermería por la Universidad de
                                    Nebrija
                                </li>
                                <li>Auditor de sistemas de la calidad</li>
                                <li>
                                    Master en gestión y liderazgo Universidad
                                    Europea.
                                </li>

                                <li class="title">
                                    <strong
                                        >CONSULTORIA SALQUALIS</strong>
                                </li>
                                <li>
                                    Asistencia y consultoría en hospitales en
                                    España
                                </li>
                                <li>
                                    Referente en Evaluación y asistencia a
                                    pacientes, modelos de atención de
                                    enfermería, planes de cuidados
                                </li>
                                <li>
                                    Referente en Metas de Seguridad de pacientes
                                </li>
                                <li>Referente en Calidad y Seguridad</li>
                                <li>
                                    Referente en cualificación profesional
                                    competencias técnicas de enfermería y otros
                                    profesionales de salud
                                </li>
                                <li>
                                    Referente en Sistemas de evaluación de
                                    enfermería e indicadores
                                </li>

                                <li class="title">
                                    <strong
                                        >EXPERIENCIA PROFESIONAL DESTACADA</strong>
                                </li>
                                <li>
                                    Actualmente Director Enfermería en Hospital
                                    Hospiten en Estepona.
                                </li>
                                <li>
                                    Director Enfermería en Hospital Vithas
                                    Málaga
                                </li>
                                <li>
                                    Supervisor de enfermería en el hospital
                                    Quirón Teknon acreditado JCI.
                                </li>
                                <li>
                                    Supervisor de Calidad en Hospital Vithas
                                    Xanit Internacional acreditado JCI.
                                </li>
                                <li>
                                    Jefe de Calidad y enfermero referente en
                                    infecciones en Hospital Vithas Málaga.
                                </li>
                                <li>
                                    Actividad de enfermería en el Hospital Vall
                                    D’Hebron de Barcelona
                                </li>
                                <li>
                                    Investigador colaborador en instituto de
                                    investigación Vall d`Hebron. Barcelona.
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" role="listitem">
                            <div class="img-container">
                                <img loading="lazy"
                                    src="/assets/VReina.webp"
                                    alt="Victoria Reina Fernández"
                                />
                            </div>
                            <div class="text-container">
                                <h2>Victoria Reina Fernández</h2>
                                <p class="academic-title">
                                    <strong>Documentación clínica</strong>
                                </p>
                                <p>
                                    Técnico experto en documentación clínica y
                                    codificación. Conocimiento avanzado en
                                    metodología de calidad. Experiencia como
                                    responsable de Calidad y Documentación
                                    Clínica en hospitales.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back" role="listitem">
                            <ul>
                                <li class="title">
                                    <strong
                                        >TITULACIÓN DESTACADA</strong>
                                </li>
                                <li>
                                    Técnico Superior en Documentación Sanitaria.
                                </li>
                                <li>Curso de Estadística Avanzada, Madrid</li>
                                <li>
                                    Formación en metodología Lean Healthcare,
                                    Madrid
                                </li>
                                <li>Curso Auditor Interno Norma ISO/UNE</li>
                                <li>
                                    Curso sobre Fundamentos de la Transición a
                                    la Norma ISO 9001.
                                </li>

                                <li class="title">
                                    <strong
                                        >CONSULTORIA SALQUALIS</strong>
                                </li>
                                <li>Experta en Codificación Clínica CIE-10</li>
                                <li>
                                    Referente en metodología de calidad y
                                    seguridad del paciente.
                                </li>
                                <li>
                                    Asesoría practica en metodología para la
                                    gestión de procesos y mejora continúa basada
                                    en riesgo.
                                </li>
                                <li>
                                    Elaboración cuadro de mando de calidad y
                                    seguridad. Monitorización de indicadores
                                    asistenciales.
                                </li>

                                <li class="title">
                                    <strong
                                        >EXPERIENCIA PROFESIONAL DESTACADA</strong>
                                </li>
                                <li>
                                    Jefa del Departamento de Calidad, Seguridad
                                    del Paciente y Documentación Clínica. Vithas
                                    Málaga junio 2020 – actualidad
                                </li>
                                <li>
                                    Codificación clínica en Departamento de
                                    Calidad en Hospital Vithas Xanit
                                    Internacional septiembre 2009 – junio 2020
                                </li>
                                <li>
                                    Codificación Clínica en Hospital Quirón
                                    Málaga enero-septiembre 2009.
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</Layout>
