@font-face {
    font-family: 'Montserrat Regular';
    src: url("/fonts/Montserrat-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #c7d6d8;
    --secondary-color: #9dbac4;
    --color-dark: #4b6d83;
    --primary-font: 'Montserrat Regular', sans-serif;
    --primary-hightlight: 'Playfair Display', sans-serif;
    --flip-card-width: 480px;
    --flip-card-height: 750px;
    --max-width-main: 1100px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-hightlight);
}

ul,
ol {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-dark);
}

a:not(.btn-primary):hover {
    color: #698ca2;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.btn-primary {
    background-color: var(--secondary-color);
    padding: 10px 25px;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b4b4b4;
    display: flex;
    text-align: center;
    margin-top: 35px;
    width: fit-content;

    /* Mejoras de nitidez */
    transition: all 0.2s ease;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    text-transform: uppercase;
    font-size: 15px;

    &:hover {
        transform: translateY(-1.5px);
        background-color: #8aadb8;
    }
}

.list-icon {
    padding-left: 0;
    max-width: 800px !important;

    li {
        list-style: none;
        margin-bottom: 10px;
        gap: 5px;

        img {
            width: 25px;
            height: 25px;
        }
    }
}

.list-border {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    >li {
        background-image: linear-gradient(#a9bec0, #00818b);
        background-size: 5px 70%;
        background-repeat: no-repeat;
        background-position: left center;
        min-width: 200px;
        padding: 70px 20px 20px 30px;
        flex: 1;
        font-weight: 400;
        font-size: 18px;
    }
}

.hightlight {
    color: var(--color-dark);
    font-size: 22px;
    font-weight: 600;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
}



.flex-adjust{
    display:flex;
    gap:30px;
    max-width: var(--max-width-main);
            align-items: stretch;

    >*{
        flex:1 1 0;
    }
}

@media(max-width:768px){
    .flex-adjust{
    flex-direction: column;
}
}