body>header {
    background: #eeeeeef7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding: 10px;
    box-shadow: 0px 1px 4px #bcbbbb;

    nav {
        display: flex;
        height: 60px;

        .logo-img-desktop {
            max-width: 200px;
            margin-left: 20px;
        }

        .logo-img-mobile {
            display: none;
        }

        #burguer-menu,
        label[for="burguer-menu"] {
            display: none;
        }

        ul {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            gap: 50px;
            list-style: none;

            li a {
                color: black;
                font-weight: 400;

                &.active {
                    font-weight: 700;
                    color: var(--color-dark);
                }
            }
        }
    }
}

footer {
    padding: 15px 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 12px;
    justify-content: space-between;
    display: flex;

    .footer-content {
        display: flex;
        flex-direction: column;

        div:first-child {
            display: flex;
            align-items: center;

            img {
                width: 60px;
                height: 60px;
            }
        }

        div:nth-child(2) {
            column-count: 2;

            ul {
                margin-top: 0
            }
        }
    }
}

@media(max-width:1024px) {
    body>header nav {
        width: 100%;
        justify-content: space-between;
        max-width: 100%;
        flex-direction: row-reverse;

        label[for="burguer-menu"] {
            display: block;
        }

        .logo-img-desktop {
            display: none;
        }

        .logo-img-mobile {
            display: flex;
        }

        .burger-label {
            transition: ease .5s;
        }

        .burger-label.turnRound {
            transform: rotate(90deg);
        }

        ul {
            flex-direction: column;
            position: absolute;
            top: 60px;
            background-color: #eeeeeef7;
            width: 100%;
            left: 0;
            padding: 30px;
            gap: 35px;
            display: none;
        }

        input:checked+ul {
            display: flex;
        }
    }
}