 /* .team-grid.employees {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0;


        article {
            width: 300px;
            background-color: var(--primary-color);

            li {
                display: flex;
                align-items: center;
                gap: 3px;
                font-size: 18px;
                margin-bottom: 15px;
            }

            .pill {
                width: 25px;
                margin-right: 12px;
            }

            .helmet {
                width: 30px;
                margin-right: 6px;
            }

            img {
                width: 35px;
                height: 35px;
            }

        }
    } */
     /* 
.fases-section {
    padding: 50px 0px;

    div {
        display: flex;
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        display: grid;

        article {
            background-image: linear-gradient(#a9bec0, #00818b);
            background-size: 4px 70%;
            background-repeat: no-repeat;
            background-position: left center;
            padding: 20px;
        }

        span {
            color: #a9bec0;
            font-size: 30px;
            font-weight: 600;
            border-bottom: 2px solid #2e6569;
            width: 100%
        }
    }
} */


.pruebas-section {
    img {
        max-width: 100%;
    }

    ul img {
        width: 25px;
        height: 25px;
    }

    article {
        display: flex;
        max-width: 1200px;
        gap: 50px;
    }

}

.accredit {
    flex-direction: column;

    >div {
        display: flex;
        max-width: 1200px;
        gap: 50px;

        >div {
            flex: 1
        }
    }
}