---
// LayoutPrincipal.astro
import logoImagen from '../assets/logo.jpeg';
import '../styles/layout.css'
import '../styles/base.css'
import '../styles/pages.css'
import { ClientRouter } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultoría Web</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <ClientRouter />
</head>
<body>
    <header style="background: #eee; padding: 20px;">
        <nav>
            <img src={logoImagen.src} alt="Logo optimizado" />
            <ul>
                <li>
                    <a href="/">Inicio</a> 
                </li>
                <li>
                    <a href="/aboutUs">Sobre nosotros</a>
                </li>
                <li>
                    <a href="/">Servicios</a> 
                </li>
                <li>
                    <a href="/team">Nuestro Equipo</a> 
                </li>
                <li>
                    <a href="/contact">Contacto</a> 
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <slot />
    </main>

    <footer style="margin-top: 50px; border-top: 1px solid #ccc;">
        <p>© 2024 Mi Consultoría Web</p>
    </footer>
</body>
</html>