---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
    <head>
        <!-- //Pasarlas como props?? -->
        <meta charset="UTF-8" />
        <title>
            Consultoría Salqualis | Expertos en Calidad y Acreditación Sanitaria
        </title>
        <meta
            name="description"
            content="En Consultoría Salqualis somos especialistas en acreditación sanitaria JCI (Joint Commision International) y gestión de Calidad. Ayudamos a tu centro sanitario a lograr la excelencia operativa"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index, follow" />

        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/layout.css" />
        <link rel="stylesheet" href="/styles/pages.css" />

        <!-- FAVICON -->
        <link
            rel="icon"
            type="image/png"
            href="favicon/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg" />
        <link rel="shortcut icon" href="favicon/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="favicon/apple-touch-icon.png"
        />
        <link rel="manifest" href="favicon/site.webmanifest" />

        <!-- Open Graph / LinkedIn / WhatsApp / Facebook -->
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="https://taidacr.github.io/consultoria-web/"
        />
        <meta
            property="og:title"
            content="Consultoría Salqualis | Acreditación y Gestión Sanitaria"
        />
        <meta
            property="og:description"
            content="Especialistas en procesos de acreditación JCI y optimización de calidad para centros sanitarios. Logra la excelencia operativa con Salqualis."
        />
        <meta
            property="og:image"
            content="https://taidacr.github.io/consultoria-web/favicon/og-image.png"
        />
        <meta property="og:site_name" content="Salqualis" />
        <meta property="og:locale" content="es_ES" />

        <!-- FUENTE -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
            rel="stylesheet"
        />

        <!-- /*LIBRERIAS EXTERNAS*/ -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <ClientRouter />
    </head>
    <body>
        <header>
            <nav class="nav-bar" aria-label="Barra de navegación principal">
                <img
                    class="logo-img-desktop"
                    src="/assets/SALQUALIS.svg"
                    alt="Logo versión desktop"
                />
                <img
                    class="logo-img-mobile"
                    src="/favicon/favicon.svg"
                    alt="Logo versión móvil"
                />
                <label for="burguer-menu" class="burger-label"
                    ><img src="/assets/icon/burger-menu.svg" /></label
                >
                <input type="checkbox" id="burguer-menu" />
                <ul>
                    <li>
                        <a class="nav-link active" href="/"
                            >Inicio</a
                        >
                    </li>
                    <li>
                        <a class="nav-link" href="/services/"
                            >Servicios</a
                        >
                    </li>
                    <li>
                        <a class="nav-link" href="/team/"
                            >El Equipo</a
                        >
                    </li>
                    <li>
                        <a class="nav-link" href="/contact/"
                            >Contacto</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <slot />
        </main>

        <footer>
            <div class="footer-content">
                <div>
                    <img src="/favicon/favicon.svg" alt="Logo versión móvil" />
                    <p>
                        Consultoría Especializada en seguridad del paciente y
                        excelencia operativa bajo estándares internacionales
                        JCI.
                        <br>
                        <strong>Aviso Legal JCI:</strong> Salqualis es una consultora
                        independiente. Joint Commission International® y el Gold Seal
                        of Approval® son marcas registradas propiedad de Joint Commission
                        Resources, Inc
                    </p>
                    
                </div>
                <p>
                © 2026 Consultoria Salqualis SL. Todos los derechos reservados.
                | Consultoría para Acreditación de Salud en Chile y España. | <a
                    href="">[Política de Privacidad]</a
                > | [Cookies]
            </p> 
             
            </div>
              <div>
                    <nav>
                        <ul>
                            <li>
                                <a href="/consultoria-web/">Inicio</a>
                            </li>
                            <li>
                                <a href="/consultoria-web/JCIAccreditation/">¿Qué es JCI?</a>

                            </li>
                            <li>
                                <a href="/consultoria-web/team/">Nuestro Equipo Experto</a>
                            </li>
                            <li>
                                <a href="/consultoria-web/services/">Servicios de Acreditación</a>

                            </li>
                            <li>
                                <a href="/consultoria-web/#centros-acred">Centros Acreditados</a>
                            </li>
                        </ul>
                    </nav>
                </div>
        </footer>

        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="../scripts/layout.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
        ></script>

        <script src="../scripts/pages.js"></script>
        <script src="../scripts/map.js"></script>
    </body>
</html>

<script>
    import { initSwiper } from "../scripts/pages.js";

    initSwiper();

    document.addEventListener("astro:page-load", () => {
        initSwiper();
    });
</script>
