---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
    <head>
        <!-- //Pasarlas como props?? -->
        <meta charset="UTF-8" />
        <title>
            Consultoría Salqualis | Expertos en Calidad y Acreditación Sanitaria JCI
        </title>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Consultoría Salqualis",
                "url": "https://consultoriasalqualis.cl/"
            }
        </script>
        <meta
            name="description"
            content="En Consultoría Salqualis somos especialistas en acreditación sanitaria JCI (Joint Commision International) y gestión de Calidad. Ayudamos a tu centro sanitario a lograr la excelencia operativa"
        />
        <meta
            name="apple-mobile-web-app-title"
            content="Consultoría Salqualis"
        />
        <meta name="application-name" content="Consultoría Salqualis" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index, follow" />
        <meta
            name="google-site-verification"
            content="AUsQW3Mc0_TQYN431lsKAHBPfNvNHhcNUEUTLrrbefQ"
        />
        <slot name="header" />

        <link rel="stylesheet" href="/styles/base.css?v=1.5" />
        <link rel="stylesheet" href="/styles/layout.css?v=1.5" />
        <link rel="stylesheet" href="/styles/pages.css?v=1.7" />

        <!-- FAVICON -->
        <link
            rel="icon"
            type="image/png"
            href="/favicon/favicon-96x96.png"
            sizes="96x96"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
        <link rel="manifest" href="/favicon/site.webmanifest" />

        <!-- Open Graph / LinkedIn / WhatsApp / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://taidacr.github.io/consultoria-web/"
        />
        <meta property="og:title"
            content="Consultoría Salqualis | Acreditación y Gestión Sanitaria" />
        <meta property="og:description" content="Especialistas en procesos de acreditación JCI y optimización de calidad para centros sanitarios. Logra la excelencia operativa con Salqualis."
        />
        <meta property="og:image" content="/favicon/og-image.png" />
        <meta property="og:site_name" content="Consultoría Salqualis" />
        <meta property="og:locale" content="es_ES" />

        <!-- FUENTE -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
            rel="stylesheet"
        />
        <ClientRouter />
    </head>
    <body>
        <header>
            <nav class="nav-bar" aria-label="Barra de navegación principal">
                <a
                    href="/"
                    class="logo-img-desktop"
                    aria-label="Volver a Inicio"
                    ><img
                        src="/assets/logo-big.svg"
                        alt="Logo Consultoría Salqualis"
                        fetchpriority="high"
                    /></a
                >

                <a href="/" class="logo-img-mobile" aria-label="Volver a inicio"
                    ><img
                        src="/favicon/favicon.svg"
                        alt="Logo Consultoría Salqualis"
                        fetchpriority="high"
                    /></a
                >
                <label for="burguer-menu" class="burger-label"
                    ><img
                        src="/assets/icon/burger-menu.svg"
                        fetchpriority="high"
                    /></label
                >
                <input type="checkbox" id="burguer-menu" />
                <ul>
                    <li>
                        <a class="nav-link active" href="/">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/services/">Servicios</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/team/">El Equipo</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/contact/">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <slot />
        </main>

        <footer>
            <div class="footer-top">
                <a href="/" aria-label="Volver a inicio"
                    ><img
                        src="/favicon/favicon.svg"
                        alt="Logo Consultoría Salqualis"
                    /></a
                >

                <div>
                    <nav>
                        <ul>
                            <li>
                                <a href="/">Inicio</a>
                            </li>
                            <li>
                                <a href="/JCIAccreditation/">¿Qué es JCI?</a>
                            </li>
                            <li>
                                <a href="/team/">Nuestro Equipo Experto</a>
                            </li>
                            <li>
                                <a href="/services/"
                                    >Servicios de Acreditación</a
                                >
                            </li>
                            <li>
                                <a href="/#centros-acred">Centros Acreditados</a
                                >
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <strong>Contacto:</strong>
                    <ul>
                        <li>
                            <a href="mailto:consultoriasalqualis@gmail.com"
                                >consultoriasalqualis@gmail.com</a
                            >
                        </li>
                        <li><a href="tel:+34672485403">+34 672 48 54 03</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-content">
                <div>
                    <p>
                        Consultoría Especializada en seguridad del paciente y
                        excelencia operativa bajo estándares internacionales
                        JCI.
                        <br />
                        Salqualis es una consultora independiente. Joint Commission
                        International® y el Gold Seal of Approval® son marcas registradas
                        propiedad de Joint Commission Resources, Inc.
                    </p>
                </div>
                <p>
                    © 2026 Consultoria Salqualis SL. Todos los derechos
                    reservados. | <a href="/privacy/">Política de Privacidad</a> |
                    <a href="/legal">Aviso Legal</a> | Consultoría para Acreditación
                    de Salud en Chile y España.
                </p>
            </div>
        </footer>

        <script>
            //burger menu
            document.addEventListener("astro:page-load", () => {
                const burgerLabel = document.querySelector(".burger-label");
                const burgerInput = document.getElementById("burguer-menu");

                burgerInput?.addEventListener("click", (e) => {
                    console.log(e.target);
                    if (!burgerLabel?.classList.contains("turnRound")) {
                        burgerLabel?.classList.add("turnRound");
                        console.log("añadido turnround");
                    } else {
                        burgerLabel?.classList.remove("turnRound");
                        console.log("eliminada turnround");
                    }
                });
            });

            //nav-link active
            document.addEventListener("astro:page-load", () => {
                const currentPage = window.location.pathname;
                console.log(currentPage);

                const navLinksPath = document.querySelectorAll(".nav-link");

                navLinksPath.forEach((link) => {
                    const linkPath = link.getAttribute("href");
                    console.log("LinkPath:", linkPath);

                    link.classList.remove("active");

                    if (linkPath === currentPage) {
                        link.classList.add("active");
                    }

                    console.log("CurrentPage;", currentPage);
                });
            });
        </script>
    </body>
</html>
